.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}
.direction:hover{
    background-color: lightblue;
}
.JOEL{
    font-weight: bold;
    color: blue;
}
.ANDREW{
    font-weight: bold;
    color: darkred;
}