.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}
.direction:hover{
    background-color: lightblue;
}
.JOEL{
    font-weight: bold;
    color: blue;
}
.ANDREW{
    font-weight: bold;
    color: darkred;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align:center;
    color: chocolate;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

tr:nth-child(even){
    background-color: aliceblue;
}