.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
    background-color: cornsilk;
}
.direction:hover{
    background-color: lightblue;
    color: lightcyan;
}
.JOEL{
    font-weight: bold;
    color: blue;
}
.ANDREW{
    font-weight: bold;
    color: darkred;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align:center;
    color: chocolate;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

tr:nth-child(even){
    background-color: aliceblue;
}

.Name:hover{
    text-shadow: 4px 4px 1px black;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:aqua;
    display: flex;
}

.active{
    background-color: burlywood;
}
li{
    display: inline;
    float:left;
}
li a{
    display: inline-block;
    color: blueviolet;
    text-align: center;
    padding: 15px, 21px;
    text-decoration:cadetblue;
    justify-content: center;
}
a{
    display: block;
    padding: 6px;
}